.Conference {
  --ConferencePadding: 10px;

  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: var(--ConferencePadding);
  width: calc(100% - var(--ConferencePadding) * 2);

  background-color: #fafafa;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.Conference--isConcluded {
  opacity: 0.3;
}

.Conference__Title {
  font-size: 1.25em;
  margin: 0;

  font-weight: 900;
  text-transform: uppercase;
}

.Conference__Link {
  color: currentColor;
  text-decoration: none;
}

.Conference__Link:hover {
  text-decoration: underline;
}

.Conference__Schedule {
  font-size: 1.1em;
  margin: 0;

  color: #909294;
}

.Conference__Location {
  flex-grow: 1;
  margin: 1em 0;
  text-transform: uppercase;

  font-weight: 500;
}

.Conference__Footer {
  align-items: center;
  display: flex;
  margin: 0 calc(var(--ConferencePadding) * -1) calc(var(--ConferencePadding) * -1);
}

.Conference__Footer__Item {
  flex-grow: 1;
  letter-spacing: 0.1em;
  padding: 10px;

  color: #fff;
  text-align: center;
  text-decoration: none;

  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Conference__CoC {
  background-color: #cb429f;
}

.Conference__CoC:hover {
  background-color: #a5237b;
}

.Conference__C4P {
  background-color: #70e4ef;
}

.Conference__C4P:hover {
  background-color: #4cc5d0;
}
